<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../includes/head.ejs')%>
  </head>
  <header>
    <%-include('../includes/navigation.ejs')%>
    <link rel="stylesheet" href="/css/salon/salons.css" />
  </header>
  <body>
      <% salons.forEach(s=>{ %>
    <div>
        <img src="https://res.cloudinary.com/dkxhnyynn/image/upload/v1610476615/<%=s.img_filename%>" alt="Salon photo">
        <b><%=s.name%></b>
        <a href="/salon/salon_info/<%=s.id%>">More info</a>
    </div>
    <% }) %>
  </body>
</html>
